venv/
.idea

*.pyc

code_for_data/credentials.json

*.pkl
/notebooks/runs/test_1/events.out.tfevents.1640786388.pop-os.12837.0
/notebooks/runs/test_2/events.out.tfevents.1640786953.pop-os.13318.0
/notebooks/runs/test_2/events.out.tfevents.1640787044.pop-os.13318.1
/notebooks/runs/test_3/events.out.tfevents.1641292775.pop-os.7289.0
/notebooks/runs/test_3/events.out.tfevents.1641293012.pop-os.7839.0
/notebooks/graphs/test/*

events.*
*.log

code_for_data/observation/*